body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28292b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: white;
  margin-left: 20px;
}

#title {
  color: whitesmoke;
  margin-left: 20px;
}

.react-player {
  position: absolute;
  z-index: -1;
}

#videoplayer {
  width: 50%;
  float: left;
  background-color: pink;
}

#header {
  background-color: transparent;
}
#footer {
  background-color: transparent;
}

#videocontainer {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  z-index: 10px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 50px #333;
}

.konva-stage {
  position: relative;
  z-index: 999;
  left: 0px;
  top: 0px;
}

#controls {
  background-color: #7a7e85;
  margin-left: 20px;
}

#movies {
  background-color: #7a7e85;
  margin-left: 20px;
}

#time {
  background-color: #7a7e85;
  margin-left: 20px;
}

#tags {
  float: right;
  width: 50%;
}

#tagtable {
  background-color: #7a7e85;
}

.canvas {
  background-color: purple;
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

th.violence {
  color: wheat;
}

th.nudity {
  color: purple;
}

th.deadpool {
  color: red;
}
